<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    <!-- Custom Styles  -->

<title>Home</title>
</head>

<body class="view" style = "background-image: url('images/TSFH.jpg');">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/tracks">Tracks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/albums">Albums</a>
    </li>
  </ul>
</nav>
<div class="jumbotron text-center">

<h1 class="text-danger">Two Steps From Hell</h1>
<br>
<marquee behavior="scroll" direction="left" class="text-danger">Welcome to the unofficial Two Steps From Hell website!</marquee>

</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h5 class="text-white">Find out information on the top 10 tracks produced by the artist</h5>
      <a href="/tracks" class="btn btn-info" role="button">Tracks</a>
    </div>
    <div class="col-sm-4">
      <h5 class="text-white">Find out information on the top 10 albums produced by the artist</h5>
      <a href="/albums" class="btn btn-info" role="button">Albums</a>
    </div>
  </div>
</div>

</body>
</html>
